.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    margin: 3rem auto;
}

.projectsList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    margin-bottom: 3rem;
}
