.projectCard {
    height: 400px;

    display: flex;
    justify-content: center;
}

.link {
    width: 100%;

    transition: linear .3s;
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.55);
    -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.55);
    box-shadow: 0 0 25px 0 rgba(0,0,0,0.55);
}

.link:hover {
    text-decoration: none;
    transition: linear .3s;
    -webkit-box-shadow: 0 0 10px 0 rgba(255,255,255,0.55);
    -moz-box-shadow: 0 0 10px 0 rgba(255,255,255,0.55);
    box-shadow: 0 0 10px 0 rgba(255,255,255,0.55);
}

.info {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 2rem;
}

.infoTitle {
    font-size: 3rem;
    margin: 2rem 0;
}

.infoDesc {
    font-size: 1.5rem;
}

.image {
    width: 50%;
    background-size: cover;

}

@media (max-width: 600px) {
    .projectCard {
        display: flex;
        flex-direction: column;
    }

    .info {
        width: 100%;
    }

    .image {
        display: none;
        width: 100%;
    }

    .infoTitle {
        font-size: 1.5rem;
        margin: .5rem 0;
    }

    .infoDesc {
        font-size: 1rem;
    }
}