* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

hr {
  width: 80%;
  margin: 3rem auto;
  border: 2px dashed #ffffff;
}

a:hover {
  text-decoration: underline;
}

body {
  background: #3c3c3c;
  color: #ffffff;
  display: flex;
}

#root {
  width: 100%;
}